<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">
<link rel="import" href="../bootstrap-import-styles/fontawesome-styles.html">

<dom-module id="convocatorias-propuesta">
    <template>
        <style include="bootstrap4-styles fontawesome-styles">
            :host {
                display: block;
                padding: 1rem;
            }

            .cont16 {
                display: grid;
                grid-gap: 1rem;
                grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            }
        </style>

        <iron-ajax id="ajax" auto url="{{url}}" handle-as="json" last-response="{{data}}" loading="{{loading}}"></iron-ajax>

        <section>
            <div class="card border-info">
                <div class="card-header text-center bg-info text-white">
                    <span class="fa fa-file-text-o" aria-hidden="true"></span> Propuesta
                </div>
                <div class="card-body">
                    <template is="dom-if" if="[[hasData]]">
                        <h5 class="card-title text-center">Detalles</h5>
                        <p class="card-text contenedor">
                            <div class="form-group">
                                <label for="lb_nombre" class="control-label" style="width:100%;">Nombre: </label>
                                <span id="lb_nombre" class="text-info" style="width:100%;">[[propuestaData.nombre_propuesta]]</span>
                            </div>
                            <div class="form-group">
                                <label for="lb_resumen" class="control-label" style="width:100%;">Resumen: </label>
                                <p id="lb_resumen" class="text-info text-justify" style="width:100%;">[[propuestaData.resumen_propuesta]]</p>
                            </div>
                            <div class="cont16">
                                <div class="form-group">
                                    <label for="lb_area" class="control-label" style="width:100%;">Área: </label>
                                    <span id="lb_area" class="text-info" style="width:100%;">([[propuestaData.clave_area]]) [[propuestaData.descripcion_area]]</span>
                                </div>
                                <div class="form-group">
                                    <label for="lb_disciplina" class="control-label" style="width:100%;">Disciplina: </label>
                                    <span id="lb_disciplina" class="text-info" style="width:100%;">([[propuestaData.clave_disciplina]]) [[propuestaData.descripcion_disciplina]]</span>
                                </div>
                                <div class="form-group">
                                    <label for="lb_area" class="control-label" style="width:100%;">Tipo de Investigación: </label>
                                    <span id="lb_area" class="text-info" style="width:100%;">[[propuestaData.descripcion_tipo_investigacion]]</span>
                                </div>
                                <div class="form-group">
                                    <label for="lb_disciplina" class="control-label" style="width:100%;">Área Estratégica: </label>
                                    <span id="lb_disciplina" class="text-info" style="width:100%;">[[propuestaData.descripcion_proyecto_transversal]]</span>
                                </div>
                                <div class="form-group">
                                    <label for="lb_disciplina" class="control-label" style="width:100%;">Palabras clave: </label>
                                    <span id="lb_disciplina" class="text-info" style="width:100%;">[[propuestaData.palabras_claves]]</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lb_nombre" class="control-label" style="width:100%;">Objetivo Específico del Proyecto: </label>
                                <p id="lb_nombre" class="text-info text-justify" style="width:100%;">[[propuestaData.objetivo_especifico]]</p>
                            </div>
                        </p>
                    </template>
                    <template is="dom-if" if="[[!hasData]]">
                        <div class="alert alert-info text-center">
                            No hay información de la propuesta
                        </div>
                    </template>
                </div>
            </div>

        </section>
    </template>

    <script>
        /**
         * `convocatorias-propuesta`
         * Webcomponent del proyecto de Convocatorias para los detalles de la propuesta
         *
         */
        class ConvocatoriasPropuesta extends Polymer.Element {
            static get is() { return 'convocatorias-propuesta'; }
            static get properties() {
                return {
                    idResponsable: {
                        type: Number
                    },
                    url: {
                        type: String,
                        readOnly: true,
                        computed: '_urlComputed(idResponsable)'
                    },
                    data: {
                        type: Object,
                        observer: '_dataObserver'
                    },
                    hasData: {
                        type: Boolean,
                        readOnly: true,
                        value: false,
                        computed: '_hasDataComputed(data)'
                    },
                    propuestaData: {
                        type: Object,
                        readOnly: true
                    }
                };
            }
            _urlComputed(idResponsable) {
                if (idResponsable) {
                    return `https://intraug.ugto.mx/Convocatoria/Propuesta/ObtenerDatosPropuestaByIdResponsable?id=${idResponsable}`;
                    // return `https://www.colmena.ugto.mx/Convocatoria/Propuesta/ObtenerDatosPropuestaByIdResponsable?id=${idResponsable}`;
                    // return App.Config.apppath + `/Propuesta/ObtenerDatosPropuestaByIdResponsable?id=${idResponsable}`;
                }
            }
            _dataObserver(data) {
                if (data) {
                    this._setPropuestaData(data);
                }
            }
            _hasDataComputed(data) {
                if (data) {
                    return true;
                }
                else {
                    return false;
                }
            }
        }

        window.customElements.define(ConvocatoriasPropuesta.is, ConvocatoriasPropuesta);
    </script>
</dom-module>